

html{
      font-family: 'Patrick Hand', cursive;
      background-color: pink;
      }
   #topic {
      text-align: center;
      font-weight: bold;
      font-size: 250%
        }
#one,#two,#three {
      font-weight: bold;
      width: 50px;
  margin: 0px;
  background-color:pink;
  text-align:center;
  position: absolute;

       }
   #one{
   top: 55px;
  right: 576px;
   }
   #two{
   top: 295px;
  right: 576px;
   }
   #three{
   top: 535px;
  right: 576px;
   }
 #h1,#h2,#h3 {
  width: 300px;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
  background-color:grey;

}